header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
  height: 400px;
  background-color: #250038;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

#arrows {
  color: red;
}