#tweet-button {
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
}

.form-control {
  border: 0px;
  border-bottom: 2px;
  border-style: solid;
  background-color: #f4f1ec;
  width: 100%;
  margin-bottom: 10px;
}

#tweet-section {
  width: 100%; 
}

.btnAndCount {
  display: flex;
  justify-content: space-between
}

.error {
  border-style: solid;
  border-width: 3px;
  border-color: red;
  width: 100%;
  height: 60px;
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  padding-top: 10px;
  color: red;
  font-style: bold;
}

error-icon{
  color:red;
}

#error-messages {
  display:none;
}

.too-long {
  color: red;
}