.tweet-feed-item {
  background-color: #f4f1ec;
  border: 5px;
  border-style: solid;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
  /* height: 450px; */
  padding-top: -10px;
}

.name-username {
  background-color: #f4f1ec;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.tweet-content {
  border-bottom: 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  padding-bottom: 20px;
}

.properties {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.icon:hover{
  color: gold;
}

.tweet-feed-item:hover{
  box-shadow: 10px 10px 10px grey;
}

.name-picture{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name{
  padding-left: 20px;
}